<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/styles3.css}"/>
    <meta charset="UTF-8">
    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>
    <title>Alert</title>
</head>
<body>
<div th:fragment="fr_allert">
    <div>
        <p style="display: none" id="contextpath" th:text="${contextpath.path}"></p>
    </div>
    <div class="bs-example" th:style="${_OK != null ? 'display:block' : 'display:none'}">
        <div id="myAlert" class="alert alert-info alert-dismissible fade show">
            <span th:if="${_OK != null}" th:text="${_OK}">  </span>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    </div>
    <div class="bs-example" th:style="${_ERROR != null ? 'display:block' : 'display:none'}">
        <div id="myAlert2" class="alert alert-danger alert-dismissible fade show">
            <span th:if="${_ERROR != null}" th:text="${_ERROR}">  </span>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    </div>

</div>
</body>
</html>