<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/styles3.css}"/>
    <meta charset="UTF-8">
    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>
    <title>Document</title>
</head>

<body>
<div th:fragment="leftpane(group,teachers,students,loggedInUser,userTest,href,listOfGrupa)">

    <div class="card border-0">
        <div class="card-header button-card" id="headingZero">
            <h2 class="mb-0">
                <a class="accordion-button btn-lg btn-block" style="color: white">
                    <i class="fas fa-user"></i>
                </a>
            </h2>
        </div>
        <div class="card-body user-panel-card ">
            <div class="row flex-fill" style="margin-top: 0; padding-left: 15px; padding-right: 15px">

                    <div style="float: left">
                        <h7 id="loggedInUser" th:text="${loggedInUser.getUsername()}"></h7>
                    </div>
                    <div style="float: end">
                        <a th:href="@{/editUser}" class="btn" style="color: white; background-color: transparent"><i
                                class="fas fa-user-edit"></i></a>
                    </div>

            </div>
        </div>
    </div>

    <div class="card border-0">
        <div class="card-header button-card" id="headingTwo">
            <h2 class="mb-0">
                <a class="accordion-button btn-lg btn-block" style="color: white">
                    <i class="fas fa-search"></i>
                </a>
            </h2>
        </div>
        <div class="card-body search-card">
            <a th:href="@{/showMaterials(type='QUIZ',category='ALL',favourites='false')}" class="btn btn-info bt-lg btn-block"
               th:name="ButtonSearch" id="ButtonSearchQuizzesAndTasks"
               data-toggle="tooltip" title="Pokaż materiały szkoleniowe">Materiały szkoleniowe</a>
            <!--        <a th:href="@{/showLessonMaterials(type = 'personal')}" class="btn btn-info bt-lg btn-block"-->
            <!--           th:name="ButtonSearch" id="Lessons"-->
            <!--           data-toggle="tooltip" title="Pokaż moje materiały szkoleniowe">Moje Lekcje</a>-->

            <!--            <h6> Kategoria zadań-->
            <!--                <button class="badge  badge-info" id="dodKat" autofocus>+</button>-->
            <!--            </h6>-->

            <div>
                <div>
                    <table style="width: 100%">
                        <tr style="width: 100%">
                            <td style="width: 100%">

                            </td>
                        </tr>
                    </table>
                </div>
            </div>
    </div>


    </div>

    <div class="card border-0">
        <div class="card-header button-card" id="headingOne">
            <h2 class="mb-0">
                <a class="accordion-button btn-lg btn-block" style="color: white">
                    <i class="fas fa-user-friends"></i>
                    <!--                <i class="fas fa-users"></i>-->
                </a>
            </h2>
        </div>
        <div class="card-body active-users-window">

<!--            <div class="row">-->
<!--                <a href="/createLesson" class="btn-primary btn-lg" th:text="'Rozpocznij lekcję'"></a>-->
<!--            </div>-->

            <div class='block'>
                <!--            <label for="groupSelect" class="select-label">AKTYWNA GRUPA</label>-->
                <select id='groupSelect' onchange="changeGroup()" class="form-control change-group-select">
                    <option th:each="grupa : ${listOfGrupa}"
                            th:value="${grupa.id_grupa}"
                            th:text="${grupa.name}"
                            th:selected="${grupa.id_grupa == loggedInUser.activeGroupId}">
                </select>
            </div>

            <div class='UserWindow'>
                <div>
                    <div id="gr-id" th:text="${loggedInUser.activeGroupId}" style="display: none;"></div>
                    <div id="role" th:text="${loggedInUser.courseRole}" style="display: none;"></div>
                    <div id="username" th:text="${loggedInUser.username}" style="display: none;"></div>

                    <table id="username-table">
<!--                        <tr>-->
<!--                            <th id="group-name" th:text="${group}"></th>-->
<!--                        </tr>-->
                        <tr class="teacher-username" th:each="t : ${teachers}">
                            <td th:text="${t}"></td>
                            <td></td>
                        </tr>
                        <tr class="student-username" th:each="user : ${userTest}">
                            <td th:text="${user.username}">
                            <td>   <span class="" th:name="BadgeUserWindow"
                                         th:style="${loggedInUser.courseRole==T(com.sdc.LessonManager.register_login_logout.model.CourseRole).TEACHER ? 'display:block' : 'display:none' }"
                                         th:text=" ${user.Test_status} "
                                         th:id="BadgeUserWindow"
                                         th:classappend="${
                                  (user.Test_status=='no_test' ? 'badge badge-pill badge-secondary': '')
                                 +(user.Test_status=='gotowe' ? 'badge badge-pill badge-warning': '')
                                 +(user.Test_status=='w toku' ? 'badge badge-pill badge-info': '')
                                 +(user.Test_status=='zakończone' ? 'badge badge-pill badge-success': '')} ">

                                    </span></td>
                        </tr>
                    </table>
                </div>
            </div>


        </div>

    </div>

</div>
</body>
</html>
