<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{index}">

<!--<th:block layout:fragment="msg">-->
<div th:fragment="msg_window(myTextArea,komunikator)">

    <div class="window" id="TableMsg">

        <div id="MessengerWindow">
            <div class="tablesMSG">
                <div class="row no-gutters" th:each="msg : ${myTextArea}">
                    <div class="col-2" th:id="date" th:text=" *{msg.localDateTime+' '}"></div>
                    <div class="col-sm-auto"
                         th:id="${msg.role==T(com.sdc.LessonManager.register_login_logout.model.CourseRole).TEACHER ? 'loginTeacher' : 'loginStudent'}"
                         th:text="*{msg.login+': '}"></div>
                    <div class="col-7" th:id="textMSG" th:text="*{msg.text}"></div>
                </div>
            </div>
        </div>
            <div class="form-row" style="float: bottom">
                <div style="width: 90%">
                                        <input id="input_tekst_for_window_okno" placeholder="Message"
                                               type="text" th:field="${komunikator.text}" class="form-control" style="width: 100%">
                </div>
                <div style="width: 10%">
                                         <input id="send" type="submit" th:value="Wyślij" class="btn btn-info">
                </div>
            </div>
    </div>
</div>
<!--</th:block>-->
</html>