<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:fragment="rightpane(loggedInUser,nowaGrupa,wybierz_zadanie,listOfGrupa,listOfCategory,chosenCategoryIdQuizzes,newLessonContent,href)">
<div th:with="isTeacher = ${loggedInUser.courseRole==T(com.sdc.LessonManager.register_login_logout.model.CourseRole).TEACHER}">



    <div class="card border-0">
        <div class="card-header button-card" id="headingThree">
            <h2 class="mb-0">
                <a class="accordion-button btn-lg btn-block" style="color: white">
                    <i class="fas fa-book-open"></i>
                </a>
            </h2>
        </div>

        <div class="card-body lesson-card ">
            <div th:switch="${loggedInUser.activeLessonMaterials}">

                <div th:case="null">No active Lesson</div>
                <div th:case="*">

            <!--            student panel-->
            <div th:if="${loggedInUser.courseRole==T(com.sdc.LessonManager.register_login_logout.model.CourseRole).STUDENT}">
                <div class="row" th:id="ButtonStartTestJS">
                    <a th:href="${href}" class="btn btn-info" th:name="ButtonStartTest" th:id="ButtonStartTest"
                       th:style="${href != null ? 'display:block' : 'display:none'}" onclick="buttonStartTest()"
                       th:text="${loggedInUser.courseRole==T(com.sdc.LessonManager.register_login_logout.model.CourseRole).TEACHER ? 'Podgląd zadania' : 'Rozpocznij zadanie' }"
                    ></a>
                </div>

                <div class="row" th:id="ButtonTerminateTest">
                    <button class="btn btn-danger" th:name="ButtonTerminateTest"
                            th:style="${(href != null and loggedInUser.courseRole==T(com.sdc.LessonManager.register_login_logout.model.CourseRole).TEACHER) ? 'display:block' : 'display:none'}"
                            onclick="buttonTerminateTest()"
                    >Zakończ zadanie
                    </button>
                </div>
                <div class="row">
                    <a class="btn btn-info bt-lg btn-block disabled" role="button" th:name="ButtonStartQuiz"
                       th:id="ButtonStartQuiz"
                       aria-disabled="true">Rozpocznij quiz</a>
                </div>

            </div>
            <!--            student panel-->

            <!--            teacher panel-->
            <table th:if="${loggedInUser.activeLessonMaterials != null}"
                   style="width: 100%">
                <tr>
                    <td th:text="${loggedInUser.activeLessonMaterials.name}" style="width: 84%; text-align: left">

                    </td>
                    <td style="width: 8%;">
                        <a th:href="@{/saveLessonMaterials}"
                           th:name="buttonSaveLesson" th:id="buttonSaveLesson"
                           data-toggle="tooltip" title="Save"  style="color: white"><i class="fas fa-save"></i></a>
                    </td>
                    <td style="width: 8%">

                        <button type="button" data-toggle="modal" data-target="#closeLessonModal"
                                th:name="ButtonChosenQuizToDelete" th:id="ButtonChosenQuizToDelete"
                                title="EndLesson" style="color: white; background-color: transparent"><i class="fas fa-times"></i></button>
                    </td>

                </tr>
            </table>

            <!--save and end lesson dialog-->
            <div class="modal fade" id="closeLessonModal" tabindex="-1" role="dialog" aria-labelledby="closeLessonModalTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">End this Lesson?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <a th:href="@{/closeLessonMaterials(save = true)}" class="btn btn-info"
                               data-toggle="tooltip" title="Save and End">Save and End</a>
                            <a th:href="@{/closeLessonMaterials(save = false)}" class="btn btn-info"
                               data-toggle="tooltip" title="End without saving">End without saving</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--save and end lesson dialog-->

            <div class="table-wrapper-scroll-y my-custom-scrollbar-lesson-panel"
                 th:if="${loggedInUser.activeLessonMaterials != null}">

                <div th:class="tables" style="background-color: white">
                    <!--                    <div class="collapse" th:id="'collapseContent' + ${lessonMaterials.id}">-->
                        <div>
                        <div th:if="${!loggedInUser.activeLessonMaterials.tasks.isEmpty()}">
                            <p class="list-header-title" th:text="'ZADANIA'"></p>

                            <div class="card" th:each="task:${loggedInUser.activeLessonMaterials.tasks}">

                            <table class="table table-bordered table-striped mb-0 lesson-table-rightpane">
                                <thead>
                                    <tr><th th:text="${task.getIdPracyDomowej()}" style="width: 5%"></th>
                                        <th>
                                            <a th:href="@{/showtest(id=${task.idPracyDomowej})}" class="btn btn-info"
                                               th:name="ButtonChosenTest" th:id="ButtonChosenTest"
                                               onclick="buttonchosentest(this.href)"
                                               data-toggle="tooltip" title="Udostępnij uczniom" style="width: 50%"><i class="fas fa-share-square"></i></a>
                                            <a style="margin-left: 10px; margin-right: 10px">|</a>
                                            <a th:href="@{/edittest(id=${task.idPracyDomowej})}" class="btn btn-info"
                                               th:name="ButtonChosenQuizToEdit" th:id="ButtonChosenQuizToEdit"
                                               data-toggle="tooltip" title="Edytuj"><i class="fas fa-edit"></i></a>
                                            <a th:href="@{/removeFromLesson(id=${task.idPracyDomowej},type='ZADANIE')}" class="btn btn-danger delete-icon"
                                               th:name="ButtonChosenQuizToDelete" th:id="ButtonChosenQuizToDelete"
                                               data-toggle="tooltip" title="Usuń z lekcji"><i class="fas fa-times"></i></a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>T:</td>
                                    <td th:text="${task.getTresc_zadania()}"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <a role="button" data-toggle="collapse" th:href="'#collapseMore' + ${task.idPracyDomowej}"
                                        aria-expanded="false" aria-controls="collapseAnswers" style="color: #17a2b8">
                                        <i class="fas fa-chevron-down"></i></a></td>
                                    <td th:text="${task.getKategoria()}"></td>
                                </tr>
                                </tbody>
                                <tfoot  class="collapse" th:id="'collapseMore' + ${task.idPracyDomowej}">
                                <tr>
                                    <td>W:</td>
                                    <td th:text="${task.getWskazowka()}"></td>
                                </tr>
                                <tr>
                                    <td>R:</td>
                                    <td th:text="${task.getRozwiazanie_zadania()}"></td>
                                </tr>
                                </tfoot>
                            </table>
                            </div>
                        </div>

                        <div th:if="${!loggedInUser.activeLessonMaterials.quizzes.isEmpty()}">
                            <p class="list-header-title" th:text="'QUIZY'"></p>
                            <div class="card" th:each="quiz:${loggedInUser.activeLessonMaterials.quizzes}">
                            <table class="table table-bordered table-striped mb-0 lesson-table-rightpane">
                                <thead>
                                <tr>
                                    <th style="width: 5%" th:text="${quiz.id}"></th>
                                    <th>
                                        <a th:href="@{/shareQuiz(id=${quiz.id})}" class="btn btn-info"
                                           th:name="ButtonChosenQuizShare" th:id="ButtonChosenQuizShare"
                                           data-toggle="tooltip" title="Udostępnij uczniom" style="width: 50%"><i class="fas fa-share-square"></i></a>
                                        <a style="margin-left: 10px; margin-right: 10px">|</a>
                                        <a th:href="@{/editQuiz(id=${quiz.id})}" class="btn btn-info"
                                           th:name="ButtonChosenQuizToEdit" th:id="ButtonChosenQuizToEdit"
                                           data-toggle="tooltip" title="Edytuj"><i class="fas fa-edit"></i></a>
                                        <a th:href="@{/removeFromLesson(id=${quiz.id},type='QUIZ')}" class="btn btn-danger delete-icon"
                                           th:name="ButtonChosenQuizToDelete" th:id="ButtonChosenQuizToDelete"
                                           data-toggle="tooltip" title="Usuń z lekcji"><i class="fas fa-times"></i></a>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td >P:</td>
                                    <td th:text="${quiz.question}"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <a role="button" data-toggle="collapse" th:href="'#collapseAnsw' + ${quiz.id}"
                                           aria-expanded="false" aria-controls="collapseAnswers" style="color: #17a2b8">
                                            <i class="fas fa-chevron-down"></i></a></td>
                                    <td th:text="${quiz.category.getKategoria()}"></td>
                                </tr>
                                </tbody>
                                <tfoot   class="collapse" th:id="'collapseAnsw' + ${quiz.id}">

                                <tr>
                                    <th style="width: 5%"
                                        th:style="${quiz.answers.get(0).isCorrectAnswer ?
                                                    'background-color: #8dd17f': 'background-color: #e79f9d' }">A:</th>
                                    <td style="width: 80%" th:name='answer_a' th:id="answer_a"
                                        th:text="${quiz.answers.get(0).answer}"></td>
                                </tr>
                                <tr>
                                    <th style="width: 5%"
                                        th:style="${quiz.answers.get(1).isCorrectAnswer ?
                                                    'background-color: #8dd17f': 'background-color: #e79f9d' }">B:</th>
                                    <td style="width: 80%" th:name='answer_b'
                                        th:id="answer_b" th:text="${quiz.answers.get(1).answer}"></td>
                                </tr>
                                <tr>
                                    <th style="width: 5%"
                                        th:style="${quiz.answers.get(2).isCorrectAnswer ?
                                                    'background-color: #8dd17f': 'background-color: #e79f9d' }">C:</th>
                                    <td style="width: 80%" th:name='answer_a' th:id="answer_a"
                                        th:text="${quiz.answers.get(2).answer}"></td>
                                </tr>
                                <tr>
                                    <th style="width: 5%"
                                        th:style="${quiz.answers.get(3).isCorrectAnswer ?
                                                    'background-color: #8dd17f': 'background-color: #e79f9d' }">D:</th>
                                    <td style="width: 80%" th:name='answer_b'
                                        th:id="answer_b" th:text="${quiz.answers.get(3).answer}"></td>
                                </tr>

                                </tfoot>
                            </table>
                        </div>
                    </div>

                </div>

            </div>
            <!--            teacher panel-->
            </div>
                </div>
        </div>
    </div>
    </div>
<!--    <div style="font-size: 12px">-->
<!--        Copyright 2020 Konrad H., Martyna P., Jan A.-->
<!--    </div>-->
</div>
</div>
</html>