<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link href="http://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/bootstrap.min.css}">
    />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/styles3.css}"/>
    <meta charset="UTF-8">
    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>
    <title>Document</title>
</head>

<body>
<div th:fragment="showTasks">
    <a th:href="@{/showtest(id=${task.idPracyDomowej})}"
       class="d-inline btn btn-sm btn-info btn-rounded "
       onclick="buttonchosentest(this.href)"
       th:name="ButtonChosenTest" th:id="ButtonChosenTest">Upublicznij zadanie
    </a>

    <a th:href="@{/verifytest(id=${task.idPracyDomowej})}"
       class="d-inline btn btn-sm  btn-rounded"
       th:name="ButtonVerifyTest" th:id="ButtonVerifyTest">Obejrzyj zadanie
    </a>
    <a th:href="@{/addToLesson(type='ZADANIE',id=${task.idPracyDomowej})}"
       th:class="${loggedInUser.isPreparingLessonMaterials}? 'btn btn-info':'btn btn-info disabled'"
       th:name="ButtonChosenQuizToLesson" th:id="ButtonChosenTaskToLesson"
       data-toggle="tooltip" title="Dodaj do lekcji"><i class="fas fa-book"></i></a>
</div>

<div th:fragment="showTasksStudents">
    <a th:href="@{/verifytest(id=${task.idPracyDomowej})}"
       class="d-inline btn btn-sm  btn-rounded"
       th:name="ButtonVerifyTest" th:id="ButtonVerifyTest">Obejrzyj zadanie
    </a>

</div>
</body>
</html>
