<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{index}">


<th:block layout:fragment="content">
    <div class="containerFormularzNowegoZadania" id='formularz_nowego_zadania' style="display:block;">
        <form th:action="@{/addtask}" th:object="${noweZadanie}" th:method="post" id="form3">


            <div class="row">
                <div class="col-7">
                <h5 style="color: black;text-align: left">Nowe zadanie</h5>
                </div>
                <div class="col-5">
                    <input id="wyslijtekst3" type="submit" class="btn btn-info  col-3" value="Dodaj" form="form3">
                    <input id="resettekst" type="reset" class="btn btn-warning col-3" value="Wyczyść">
                    <a  href="/showTasks?type=ZADANIE&favourites=false&kategoria=ALL" id="back" class="btn btn-danger col-3">Anuluj</a>
                </div>
            </div>

            <div class="row">
                <div class="col-5">
                    <div class="row">
                        <div class="col-12 LABEL CELL">
                            <label th:for="input.idgrupa" class="label-new-task">Grupa:</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 INPUT CELL">
                            <select id='GroupSelectNoweZadanie' th:field="*{idgrupa}" class="form-control" >
                                <option th:each="grupa : ${listOfGrupa}" th:value="${grupa.id_grupa}"
                                        th:text="${grupa.name}">
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 LABEL CELL">
                            <label th:for="input.kategoria" class="label-new-task">Kategoria:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 INPUT CELL">
                                <select id='CategorySelectNoweZadanie' th:field="*{kategoria}" class="form-control">
                                    <option th:each="category : ${listOfCategory}" th:value="${category.kategoria}"
                                            th:text="${category.kategoria}">
                                </select>
<!--                                <button class="btn btn-info quiz-options-row-element disabled"-->
<!--                                        id="add_quiz" autofocus data-toggle="tooltip"-->
<!--                                        title="Dodaj">-->
<!--                                    <i class="fas fa-plus" onclick="addNewCategory()"></i>-->
<!--                                </button>-->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 LABEL CELL">
                            <label th:for="*{'tresc_zadania'}" class="label-new-task">Treść zadania:</label></div>
                    </div>
                    <div class="row">
                        <div class="col-12 form-group">
                        <textarea th:name="*{'tresc_zadania'}" th:id="*{'tresc_zadania'}" type="text"
                                  th:value="${trescX==null}?*{tresc_zadania}: ${trescX}"
                                  placeholder="Podaj treść zadania.."
                                  class="form-control" rows="7"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 LABEL CELL">
                            <label th:for="*{'wskazowka'}" class="label-new-task"> Wskazówka:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 INPUT CELL">
                            <textarea th:name="*{'wskazowka'}" th:id="*{'wskazowka'}" type="text" th:value="${wskazowka==null}?*{wskazowka}: ${wskazowka}"
                                   placeholder="Podaj wskazowkę zadania.."
                                      class="form-control" rows="6"></textarea>
                        </div>
                    </div>

                </div>


                <div class="col-7" style="float: right">
                    <div class="col-12 LABEL CELL">
                        <label th:for="*{'rozwiazanie_zadania'}" class="label-new-task">Rozwiązanie zadania:</label>
                    </div>

                    <div class="col-12 INPUT CELL">
                        <textarea class="prism-live language-java form-control" rows="4" th:name="*{'rozwiazanie_zadania'}" style="height: 290px"
                                  th:id="*{'rozwiazanie_zadania'}" type="text" th:value="${rozwiazanie==null}?*{rozwiazanie_zadania}: ${rozwiazanie}"
                               placeholder="Podaj rozwiązanie zadania.."></textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
</th:block>

