<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">

<th:block layout:fragment="content">
    <div class="containerTests" id='preTasks' style="display:block;">
        <div th:switch="${listOfPreSelectedTasks.isEmpty()}" class="container my-10">
            <div class="row">
                <div class="col-md">
                    <table class="quiz-options-row">
                        <tr>
                            <td style="float: left">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-secondary active">
                                        <input type="radio" name="options" id="option1" checked onchange="showQuizzesAndTasks()">
                                        Zadania i Quizy
                                    </label>
                                    <label class="btn btn-secondary">
                                        <input type="radio" name="options" id="option2" onchange="showLessonMaterials()">
                                        Moje Lekcje
                                    </label>
                                </div>
                            </td>

                            <td  class="quiz-options-row-element">
                                <label class="container-custom-checkbox">
                                    <input type="checkbox" th:checked="${#request.getParameter('favourites')}" id="showFavourites" onchange="changeTaskList()">
                                    <i class="fas fa-star checkmark"></i>
                                </label>
                            </td>
                            <td  class="quiz-options-row-element">
                                <select th:name='materialTypeSelect' id='materialTypeSelect' class="form-control quiz-options-row-element" onchange="changeTaskList()">
                                    <option th:text="'WYBIERZ TYP'"
                                            th:value="null"
                                            disabled
                                            th:selected="${#request.getParameter('type') == null}"></option>
                                    <option th:text="QUIZ"
                                            th:value="QUIZ"
                                            th:selected="${#request.getParameter('type') == 'QUIZ'}"></option>
                                    <option th:text="ZADANIE"
                                            th:value="ZADANIE"
                                            th:selected="${#request.getParameter('type') == 'ZADANIE'}"></option>
                                </select>
                            </td>
                            <td  class="quiz-options-row-element">
                                <select th:name='categoryQuizSelect' id='categoryQuizSelect' onchange="changeTaskList()"
                                        class="form-control quiz-options-row-element">
                                    <option th:each="category : ${listOfCategory}"
                                            th:text="${category.kategoria}"
                                            th:value=" ${category.kategoria}"
                                            th:selected="${(#request.getParameter('category') == category.kategoria) ||
                                                            (#request.getParameter('kategoria') == category.kategoria)}"
                                    ></option>
                                    <option th:text="ALL"
                                            th:value="ALL"
                                            th:selected="${#request.getParameter('category') == 'ALL'}"
                                    ></option>
                                </select>
                            </td>

                            <td  class="quiz-options-row-element">
                                <button class="btn btn-info quiz-options-row-element"
                                        id="add_quiz" autofocus data-toggle="tooltip"
                                        title="Dodaj"><i class="fas fa-plus"
                                                         onclick="addNewMaterial()"></i></button>
                            </td>
                        </tr>
                    </table>


                    <h6 th:case="true">Nie ma jeszcze zadań!</h6>
                    <div th:case="false">
                        <div class="table-wrapper-scroll-y my-custom-scrollbar">
                            <div th:class="tables">
                                <div th:each="task:${listOfPreSelectedTasks}">
                                    <table th:id="tasksJS" class="table table-bordered table-striped mb-0">
                                        <thead class="thead-light">
                                        <tr>
                                            <th style="width: 10%">#</th>
                                            <th style="width: 20%">Kategoria</th>
                                            <th style="width: 30%">Modyfikacja</th>
                                            <th style="width: 40%">Wybierz</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td th:name='idPracyDomowej' th:id="idPracyDomowej"
                                                                                          th:text="${task.idPracyDomowej}"></td>
                                            <td th:name='cell12' th:id="cell12"
                                                th:text="${task.kategoria}"></td>
                                            <td th:id="cell7"><a th:href="@{/edittest(id=${task.idPracyDomowej})}"
                                                   class="d-inline btn btn-sm btn-rounded "
                                                   th:name="ButtonEditTest" th:id="ButtonEditTest">Edytuj zadanie</a>

                                                <a th:href="@{/deleteTask(id=${task.idPracyDomowej})}"
                                                   class="d-inline btn btn-sm btn-warning btn-rounded"
                                                   th:name="ButtonDeleteTest" th:id="ButtonDeleteTest">Usuń zadanie</a>
                                            </td>

                                            <td th:id="cell8">
                                                <div th:replace="${loggedInUser.courseRole==T(com.sdc.LessonManager.register_login_logout.model.CourseRole).TEACHER} ?~{fragments_index/showTasks:: showTasks} : ~{fragments_index/showTasks:: showTasksStudents} "  ></div>
                                            </td>

                                        </tr>
                                        </tbody>
                                    </table>
                                    <table th:id="tableWithTests" class="table table-bordered table-striped mb-0">
                                        <tr>
                                            <th style="width: 25%" th:name='cell0' th:id='cell0'>Treść zadania</th>
                                            <td style="width: 75%" th:name='cell1' th:id='cell1' id="tresc_zadania"
                                                th:text="${task.tresc_zadania}"></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>

