<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{index}">


<th:block layout:fragment="content">

    <div class="containerFormularzEdycjiZadania" id='formularz_nowego_zadania' style="display:block;">

        <form action="#" th:action="@{${#request.getRequestURI()}(id=${#request.getParameter('id')})}" th:object="${singleTask}" method="post">
<!--            <h2> Zadanie</h2>-->
<!--            <div th:text="${loggedInUser.username}"></div>-->
            <div class="row">
                <div class="col-2 LABEL CELL">
                    <h5 th:text="'#'+${singleTask.idPracyDomowej}"></h5>
                </div>
            </div>

            <div class="row">
                <div class="col-4 LABEL CELL">
                    <label th:for='tresc_zadania'><b>Treść zadania:</b> </label></div>

                <div class="col offset-1 w-75">
                    <b><p class="text-break" th:name='tresc_zadania' th:id='tresc_zadania' type="text"
                          th:text="${singleTask.tresc_zadania}"
                    ></p></b>
                </div>
            </div>
            <div class="row">
                <div class="col-4 LABEL CELL">
                    <label id="labelWskazowkaV" th:for='wskazowkaV' th:style="'visibility : hidden'"> <b> Wskazówka do
                        zadania:</b></label></div>

                <div class="col offset-1 w-75">
                    <b><p class="text-break" th:name='wskazowkaV' th:id='wskazowkaV' type="text"
                          th:text="${singleTask.wskazowka}" th:style="'visibility : hidden'"
                    ></p></b>
                </div>
            </div>
            <div class="row">
                <div class="col-4 LABEL CELL">
                    <label id="labelRozwiazanieV" th:for='rozwiazanie_zadaniaV' th:style="'visibility : hidden'"><b>
                        Rozwiązanie zadania:</b></label></div>

                <div class="col offset-1 w-75">
<!--                    <b><p class="text-break" th:name='rozwiazanie_zadaniaV' th:id='rozwiazanie_zadaniaV' type="text"-->
<!--                          th:text="${singleTask.rozwiazanie_zadania} " th:style="'visibility : hidden'"-->
<!--                    ></p></b>-->
                    <pre><code class="language-java"  th:text="${singleTask.rozwiazanie_zadania}"
                               th:name='rozwiazanie_zadaniaV' th:id='rozwiazanie_zadaniaV' style="visibility: hidden"></code> </pre>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <input th:class="form-check-input" th:type="checkbox"
                           th:name="wskazowkaCheckBoxV"
                           th:id="wskazowkaCheckBoxV"
                           th:value="${singleTask.wskazowka}"
                           onclick="TriggerTipOrAnswerOnYourOwn()">
                    <label th:for='wskazowkaCheckBox'> Pokaż wskazówkę </label>
                </div>
            </div>
            <div class="row">
                <div class="col-4">

                    <input th:class="form-check-input" th:type="checkbox"
                           th:name="rozwiazanieCheckBoxV"
                           th:id="rozwiazanieCheckBoxV"
                           th:value="${singleTask.rozwiazanie_zadania}"
                           onclick="TriggerTipOrAnswerOnYourOwn()">
                    <label th:for='rozwiazanieCheckBox'> Pokaż rozwiązanie </label>
                </div>
            </div>
        </form>
        <br>
        <div class="row">
            <div class="offset-9 col-3">
                <a class="btn btn-info" onclick="goBack()"
                   th:name="ButtonBackToShowTasks" th:id="ButtonBackToShowTasks">Wróc do listy zadań</a>
            </div>
        </div>
    </div>


</th:block>
<th:block layout:fragment="script">
    <script src="js/verifytest.js"></script>
</th:block>
