<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="hidden/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles3.css}"/>
    <meta charset="UTF-8">
    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}" />
    <title>Document</title>
</head>
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header(loggedInUser)">

    <nav class="navbar navbar-expand-md navbar-light fixed-top " style="background-color: #FFFFFF;">

        <a class="navbar-brand" >Lesson Manager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
<!--                <li>-->
<!--                    <img src="/img/app_logo_background2.png" alt="Wtf" height="40px" width="40px">-->
<!--                </li>-->
                <li class="nav-item active">
                    <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/menu">About <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" th:if="${loggedInUser != null}">
                    <a class="nav-link" th:id="Wyloguj" href="/logout">Logout</a>
                </li>
                <li class="nav-item" th:if="${loggedInUser == null}">
                    <a class="nav-link" href="/login">Login</a>
                </li>

            </ul>

            </div>
    </nav>

    </div>
<script src="webjars/sockjs-client/1.1.1/sockjs.min.js"></script>
<script src="webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
<script src="js/app.js"></script>
</html>
