.edit-user-icon-gold{
    color: #C0AB96 !important;
    /*background-color: #1F2434 ;*/
    padding: 10px;
    border-radius: 10%;
    font-size: 16px;
}

delete-icon{
    color: white;
    background-color: #e79f9d ;
    font-size: 16px;
}

.select-label{
    font-size: 10px;
    text-align: left;
    width: 100%;
}

.accordion-button{
    height: 4vh;
    color: white;
    /*background-color: #17a2b8;*/
    background-color: #141414;
    border-radius: 10px;
    font-size: 16px;
    text-align: right;
}
.button-card{
    /*background-color: #17a2b8;*/
    background-color: #141414;
    padding: 0px;
    /*border: 1px solid #17b0c6;*/
    border: 1px solid #080808;
}

/*custom checkbox*/
.container-custom-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container-custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    color: #eee;
}

/* On mouse-over, add a grey background color */
.container-custom-checkbox:hover input ~ .checkmark {
    color: #ccc;
}

.container-custom-checkbox input:checked ~ .checkmark {
    color: #ffc901;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
/*.container-custom-checkbox input:checked ~ .checkmark:after {*/
/*    display: block;*/
/*}*/

/* Style the checkmark/indicator */
.container-custom-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}