.left-container{

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}

.user-panel-card{
    height: 4vh;
    background-color: #2c2c2c;
    color: white;
    padding-top: 4px;
}

.active-users-window{
    height: 62vh;
    /*background-color: rgba(23, 162, 184, 0.62);*/
    background-color: #2c2c2c;
    color: white;
}

.UserWindow {
    /*position: absolute;*/
    width: 100%;
    overflow: auto;
    border-radius: 0.5rem;
    padding: 5px;
    color: white;
}

.change-group-select{
    height: 42px;
    width: 100%;
    color: white;
    background-color: #2c2c2c;
}

#username-table{
    text-align: left;
    font-size: small;
    padding: 10px 0;
    width: 100%;
}
.teacher-username{
    color: lightgoldenrodyellow;
    border-bottom: 1px solid #fae88c;
}
.student-username{
    color: lightcyan;
}
