:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
}

.login,
.image {
    min-height: 100vh;
}

.bg-image-login {
    background-image: url('../img/background3.png');
    background-size: cover;
    background-position: center;
}
.bg-image-edit-user {
    background-image: url('../img/profile_small.png');
    background-size: cover;
    background-position: center;
}

.login-heading {
    font-weight: 300;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    border-radius: 2rem;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group>input,
.form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
    height: auto;
    border-radius: 2rem;
}

.form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #777;
    cursor: text;
    /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: #777;
}

.form-label-group input:-ms-input-placeholder {
    color: #777;
}

.form-label-group input::-ms-input-placeholder {
    color: #777;
}

.form-label-group input::-moz-placeholder {
    color: #777;
}

.form-label-group input::placeholder {
    color: #777;
}

/*.form-label-group input:not(:placeholder-shown) {*/
/*    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));*/
/*    padding-bottom: calc(var(--input-padding-y) / 3);*/
/*}*/

/*.form-label-group input:not(:placeholder-shown)~label {*/
/*    padding-top: calc(var(--input-padding-y) / 3);*/
/*    padding-bottom: calc(var(--input-padding-y) / 3);*/
/*    font-size: 12px;*/

/*    color: transparent;   */
/*}*/


/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
    .form-label-group>label {
        display: none;
    }
    .form-label-group input::-ms-input-placeholder {
        color: #777;
    }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .form-label-group>label {
        display: none;
    }
    .form-label-group input:-ms-input-placeholder {
        color: #777;
    }
}

#Trener_kursant,
#Kurs{
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    cursor: text;
    /* Match the input under the label */
    border: 1px solid #DCDCDC;
    border-radius: 2rem;
    transition: all .1s ease-in-out;
}
.form-label-group>select {
    padding: var(--input-padding-y) var(--input-padding-x);
    height: auto;
    border-radius: 2rem;
}


.login-info-message{
    text-align: center;
    color: red;
    font-size: small;
}
.form-register-container{
    height: 100%;
    align-content: center;
    padding: 50px;
    background-color: white;
    border-radius: 20px;
}
.reg-table{
    width: 100%;
    place-content: center;
}


