.mid-card-container{
    height: 78vh;
}
.category-badge{
    color: white !important;
    background-color: #12b5c7;
    padding: 5px;
    margin: 3px;
}

.tablesMSG{
    height: 100%;
}

.label-new-task{
    width: 100%;
    text-align: left;
}