.quiz-options-row{
    width: 100%;
    margin-bottom: 10px;
}
.quiz-options-row-element{
    /*width: fit-content;*/
    /*float: right;*/
}
.quizzes-container{
    top: 20vh;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    color: #1F2434;
    padding: 5px;
}
.show-quiz-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.my-custom-scrollbar-quiz {
    position: relative;
    height: 68vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.my-custom-scrollbar-quiz-results {
    position: relative;
    height: 55vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.answer{
    text-align: left;
}

.question{
    text-align: left;
}

.results-table{
    width: 100%;
    border: 1px solid darkgray;
}
.list-header-title{
    width: 100%;
    height: 25px;
    color: white;
    background-color: #117a8b;
    text-align: right;
    padding-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    /*border-radius: 5px 5px 0 0;*/
}