.right-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-card{
    height: 8vh;
    background-color: #2c2c2c;
    color: white;
}
.lesson-card{
    height: 80vh;
    background-color: #2c2c2c;
    color: white;
}

.my-custom-scrollbar-lesson-panel{
    position: relative;
    height: 72vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.lesson-table-rightpane{
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 12px;
    text-align: left;
}