.containerTests{
    top: 20vh;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    color: #1F2434;
    padding: 5px;

}
table {border-collapse:collapse; }
table td {  word-wrap:break-word;}
.my-custom-scrollbar {
    position: relative;
    height: 68vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.table-wrapper-scroll-y {
    display: block;
}
.table-wrapper-scroll-x {
    display: none;
}
#tableWithTests{
    margin-bottom: 1.5rem!important;
}
#idPracyDomowej,#cell6{
     width:10%!important;
 }
#cell12{
    width:20%!important;
}
#cell7{
    width:30%!important;
}

#cell8{
    width:40%!important;
}
#cell0{
    width:25%;
    min-width: 25%!important;
}
#cell1{
    width:75%;
    max-width: 75%;
    word-wrap: break-spaces!important;
}
#ButtonEditTest{
    background-color: #FF8800;

}
#ButtonVerifyTest{
    background-color: #9933CC;  color: #FFFFFF;
}

