body, html {
    height: 100vh;
    width: 100%;
    margin: 0;
    color: #C0AB96;
    background-color: #1F2434;
}

main {
    margin: 0 auto;
}

.container-fluid {
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    background-image: url('../img/java_wallpaper.png')!important;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: +50%;
}


.leftpane {
    width: 20%;
    height: 90vh;
    padding: 0.5rem;
    float: left;
    border-collapse: collapse;
    text-align: left;
}

.middlepane {

    width: 60%;
    height: 90vh;
    padding: 0.5rem;
    float: left;
    text-align: center;
}

.bg-image {

    background-size: 80vh;
    margin: 0;
    padding: 0;
    width: 100%;
    color: #1F2434;
}

.rightpane {
    width: 20%;
    height: 90vh;
    position: relative;
    padding: 0.5rem;
    float: right;
    border-collapse: collapse;
    text-align: center;
}

.toppane {
    width: 100%;
    height: 10vh;
    border-collapse: collapse;
    background-color: white;
    color: #1F2434;
    text-align: center;
    margin: 0;
}

.fixed-top {
    height: 10vh;
}

.footer {
    font-size: .83em;
    position: absolute;
    top: 78vh;
    margin-left: 5vh;
}

button {
    border: none;
    color: #1F2434;
    padding: 3px 12px;
    display: inline-block;
}

.select-selected {
    background-color: DodgerBlue;
}

.tekst {
    display: none;
}

.tekst:focus {
    color: #1c7430;
}

.tresc_zadania {
    display: none;
}

.formularz_nowej_kategorii {
    display: none;
    position: center;
}

#form2 {
    color: white;
}
#TableMsg{
    margin-bottom: 1rem;
}



#li_span {
    margin: 10px 5px;
}

.row {
    margin-top: 3px;
}

.containerFormularzNowegoZadania {
    /*top: 20vh;*/
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    color: #1F2434;
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}
.containerFormularzEdycjiZadania {
    top: 20vh;
    height: 53vh;
    border-radius: 0.5rem;
    color: #1F2434;
    padding: 5px;
    background-image: url("../img/cumulus.png")!important;
    background-size: cover;
    background-repeat: no-repeat ;
    overflow-y: auto;
    overflow-x: hidden;
}


.LABEL-CELL {
    text-align: right;
}

.form-control {
    height: calc(4.5vh);
}
.nav-item1{
    height: 8vh;
    width: 10vh;
    background-image: url("/img/java_symbol2.png");
    background-size: contain;
    background-repeat: no-repeat ;
}
.form-group2 {
    border-radius: 0.5rem;
    background-color: #FFFFFF;
    color: #1F2434;
    padding: 10px 0;
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

}
select{
    width: 20vh;
}


h5{
    margin-bottom: 0.5em;
}
.ButtonShowTasks{
    margin-top: 0.5em;
}
.buttonUnderUserWindow{
    position: absolute;
    top: 65vh;
    left: 2%;

}

#ButtonStartTest{
    display: none;
}

.newQuizForm {
    top: 20vh;
    height: 53vh;
    background-color: #FFFFFF;
    border-radius: 0.5rem;
    color: #1F2434;
    padding: 5px;
}

