<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{index}">


<th:block layout:fragment="content">
    <div class="containerFormularzNowegoZadania" id='new_quiz_form'>

        <form action="#" th:action="@{${#request.getRequestURI()}(id=${#request.getParameter('id')})}" th:object="${newQuiz}" th:method="POST" style="height: 100%">
            <div class="row">
                <div class="col-7">
                    <h5 style="color: black;text-align: left">Edytuj quiz</h5>
                </div>
                <div class="col-5">
                    <input id="save_quiz" type="submit"  class="btn btn-info  col-3" value="Zapisz">
                    <input id="resettekst" type="reset" class="btn btn-warning col-3" value="Wyczyść">
                    <a  href="/showQuizzes?type=QUIZ&favourites=false&category=ALL" id="back" class="btn btn-danger col-3">Anuluj</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label th:for='kategoria' class="label-new-task">Kategoria:</label>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <select name='categoryId' id='categoryId' th:field="*{categoryId}" class="form-control">
                        <option th:each="category : ${listOfCategory}"
                                th:text="${category.kategoria}"
                                th:value=" ${category.id_kategoria}"
                                th:selected="(${category.id_kategoria == newQuiz.categoryId})"
                        ></option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label th:for='question' class="label-new-task">Pytanie:</label>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                        <textarea th:class="form-control " th:name='question' th:id='question' type="text" th:field="*{question}"
                                  class="form-control" rows="2">
                    </textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div style="float: left">
                        <input type="checkbox" th:field="*{hasCodeSnippet}" name='hasCodeSnippet' id='hasCodeSnippet' onchange="showCodeSnippetTextarea(this.checked)" >
                        <label th:for='hasCodeSnippet'>Code Snippet</label>
                    </div>
                </div>
            </div>
            <div class="row" id='codeSnippetTextarea' style="display: none">
                <div class="col-12">
                       <textarea class="prism-live language-java form-control" name='codeSnippetTextarea'  type="text"
                                 style="height: 200px" th:field="*{codeSnippet}" rows="3" >
                        </textarea>
                </div>
            </div>
            <div class="row">
                <table class="col-12">
                    <thead>
                    <tr>
                        <th style="width: 5%"></th>
                        <th style="width: 85%;text-align: left">Odpowiedzi:</th>
                        <th style="width: 10%">Zaznacz poprawne</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <label th:for='answer_A'>A:</label>
                        </td>
                        <td>
                            <textarea th:class="form-control " th:name='answer_A' th:id='answer_A' type="text"
                                      th:field="*{answerA}" class="form-control" rows="1"></textarea>
                        </td>
                        <td>
                            <input type="checkbox" th:checked="${newQuiz.isAnswerACorrect}" th:field="*{isAnswerACorrect}" id="is_answer_A_correct">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label th:for='answer_B'>B:</label>
                        </td>
                        <td>
                            <textarea th:class="form-control " th:name='answer_B' th:id='answer_B' type="text"
                                      th:field="*{answerB}" class="form-control" rows="1"></textarea>
                        </td>
                        <td>
                            <input type="checkbox" th:checked="${newQuiz.isAnswerBCorrect}" th:field="*{isAnswerBCorrect}" id="is_answer_B_correct">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label th:for='answer_C'>C:</label>
                        </td>
                        <td>
                            <textarea th:class="form-control " th:name='answer_C' th:id='answer_C' type="text"
                                      th:field="*{answerC}" class="form-control" rows="1"></textarea>
                        </td>
                        <td>
                            <input type="checkbox" th:checked="${newQuiz.isAnswerCCorrect}" th:field="*{isAnswerCCorrect}" id="is_answer_C_correct">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label th:for='answer_D'>D:</label>
                        </td>
                        <td>
                            <textarea th:class="form-control " th:name='answer_D' th:id='answer_D' type="text"
                                      th:field="*{answerD}" class="form-control" rows="1"></textarea>
                        </td>
                        <td>
                            <input type="checkbox" th:checked="${newQuiz.isAnswerDCorrect}" th:field="*{isAnswerDCorrect}" id="is_answer_D_correct">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>


                <div>
                    <p th:if="${#fields.hasErrors()}" class="login-info-message">Pola nie mogą być puste</p>
                </div>

        </form>
    </div>

</th:block>