<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{index}">


<th:block layout:fragment="content">
    <div class="quizzes-container" id='quizContainer' style="display:block;"
         th:with="isTeacher = ${loggedInUser.courseRole==T(com.sdc.LessonManager.register_login_logout.model.CourseRole).TEACHER}">

        <!--upload file dialog-->
        <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="uploadModalLongTitle">Upload csv file</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form th:action="@{/uploadCsvFile}" method="post" enctype="multipart/form-data">
                        <div class="modal-body">

                            <div class="custom-file">
                                <input type="file" name="file" id="file" class="form-control-file" accept=".csv">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Upload</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--upload file  dialog-->

        <div class="container my-10">
            <div class="row">
                <div class="col-md">
                    <table class="quiz-options-row">
                        <tr>
                            <td style="float: left">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-secondary active">
                                        <input type="radio" name="options" id="option1" checked onchange="showQuizzesAndTasks()">
                                        Zadania i Quizy
                                    </label>
                                    <label class="btn btn-secondary">
                                        <input type="radio" name="options" id="option2" onchange="showLessonMaterials()">
                                        Moje Lekcje
                                    </label>
                                </div>
                            </td>

                            <td  class="quiz-options-row-element">
                                <label class="container-custom-checkbox">
                                    <input type="checkbox" th:checked="${#request.getParameter('favourites')}" id="showFavourites" onchange="changeTaskList()">
                                    <i class="fas fa-star checkmark"></i>
                                </label>
                            </td>
                            <td  class="quiz-options-row-element">
                                <select th:name='materialTypeSelect' id='materialTypeSelect' class="form-control quiz-options-row-element" onchange="changeTaskList()">
                                    <option th:text="'WYBIERZ TYP'"
                                            th:value="null"
                                            disabled
                                            th:selected="${#request.getParameter('type') == null}"></option>
                                    <option th:text="QUIZ"
                                            th:value="QUIZ"
                                            th:selected="${#request.getParameter('type') == 'QUIZ'}"></option>
                                    <option th:text="ZADANIE"
                                            th:value="ZADANIE"
                                            th:selected="${#request.getParameter('type') == 'ZADANIE'}"></option>
                                </select>
                            </td>
                            <td  class="quiz-options-row-element">
                        <select th:name='categoryQuizSelect' id='categoryQuizSelect' onchange="changeTaskList()"
                                class="form-control quiz-options-row-element">
                            <option th:each="category : ${listOfCategory}"
                                    th:text="${category.kategoria}"
                                    th:value=" ${category.kategoria}"
                                    th:selected="${#request.getParameter('category') == category.kategoria}"
                            ></option>
                            <option th:text="ALL"
                                    th:value="ALL"
                                    th:selected="${#request.getParameter('category') == 'ALL'}"
                                    ></option>
                        </select>
                            </td>
                            <td  class="quiz-options-row-element">
                            <button class="btn btn-info quiz-options-row-element"
                                    id="add_quiz" autofocus data-toggle="tooltip"
                                    title="Dodaj"><i class="fas fa-plus"
                                    onclick="addNewMaterial()"></i></button>
                            </td>
                            <td  class="quiz-options-row-element">
                                <button class="btn btn-info quiz-options-row-element" type="button" data-toggle="modal" data-target="#uploadModal"
                                        id="upload_quizzes" autofocus
                                        title="Dodaj wiele"><i class="fas fa-file-upload"></i></button>
                            </td>
                        </tr>
                    </table>

                    <div class="table-wrapper-scroll-y my-custom-scrollbar-quiz">
                        <div th:class="tables">
                            <div th:each="quiz:${allQuizzes}" style="margin-bottom: 20px" >

                                <!--delete dialog-->
                                <div class="modal fade" th:id="'deleteModal' + ${quiz.id}" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Delete this Quiz?</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <a th:href="@{/deleteQuiz(id=${quiz.id})}" class="btn btn-danger"
                                                 th:name="ButtonChosenQuizToDelete" th:id="ButtonChosenQuizToDelete"
                                               data-toggle="tooltip" title="Delete">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--delete dialog-->

                                <table th:id="tasksJS" class="table table-bordered table-striped mb-0">
                                    <thead class="thead-light">
                                    <tr>
                                        <th style="width: 5%">#</th>
                                        <th style="width: 15%">Kategoria</th>
                                        <th style="width: 20%">Autor</th>
                                        <th style="width: 60%"></th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td th:name='idQuiz' th:id="idQuiz"
                                            th:text="${quiz.id}"></td>
                                        <td th:name="categoryName" th:id="categoryName"
                                            th:text="${quiz.category.kategoria}"></td>
                                        <td th:name='author' th:id="author"
                                            th:text="${quiz.author.username}">
                                        </td>
                                        <td>
                                            <a th:if="${isTeacher}"
                                               th:href="@{/shareQuiz(id=${quiz.id})}" class="btn btn-info"
                                               th:name="ButtonChosenQuizShare" th:id="ButtonChosenQuizShare"
                                                data-toggle="tooltip" title="Share with students"><i class="fas fa-share-square"></i></a>
                                            <a th:href="@{/addToLesson(type='QUIZ',id=${quiz.id})}"
                                               th:class="${loggedInUser.isPreparingLessonMaterials}? 'btn btn-info':'btn btn-info disabled'"
                                               th:name="ButtonChosenQuizToLesson" th:id="ButtonChosenQuizToLesson"
                                                data-toggle="tooltip" title="Add to lesson"><i class="fas fa-book"></i></a>
                                            <a th:if="${quiz.isFavouriteForLoggedInUser}"
                                               th:href="@{/removeFromFavourites(type='QUIZ', category=${quiz.category.kategoria}, id=${quiz.id})}"
                                               class="btn btn-danger" style="background-color: #ffc901; border: #ffc901 solid 1px"
                                               th:name="ButtonChosenQuizFavourite" th:id="ButtonChosenQuizFavourite"
                                               title="Remove from favourites"><i class="far fa-star"></i></a>
                                            <a th:if="${!quiz.isFavouriteForLoggedInUser}"
                                               th:href="@{/addToFavourites(type='QUIZ', category=${quiz.category.kategoria}, id=${quiz.id})}"
                                               class="btn btn-info"
                                               th:name="ButtonChosenQuizFavourite" th:id="ButtonChosenQuizFavourite"
                                               title="Add to favourites"><i class="far fa-star"></i></a>

                                            <a th:if="${isTeacher}" style="margin-left: 10px; margin-right: 10px">|</a>
                                            <a th:if="${isTeacher}"
                                               th:href="@{/editQuiz(id=${quiz.id})}" class="btn btn-info"
                                               th:name="ButtonChosenQuizToEdit" th:id="ButtonChosenQuizToEdit"
                                               data-toggle="tooltip" title="Edit"><i class="fas fa-edit"></i></a>

                                            <button th:if="${isTeacher}" type="button" data-toggle="modal" th:data-target="'#deleteModal' + ${quiz.id}"
                                               class="btn btn-danger delete-icon"
                                               th:name="ButtonChosenQuizToDelete" th:id="ButtonChosenQuizToDelete"
                                                title="Delete"><i class="fas fa-times"></i></button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table th:id="quiz_table" class="table table-bordered table-striped mb-0">
                                    <tr>
                                        <th style="width: 5%" >
                                            <a th:if="${isTeacher}"
                                               role="button" data-toggle="collapse" th:href="'#collapseAnswers' + ${quiz.id}"
                                               aria-expanded="false" aria-controls="collapseAnswers" style="color: #17a2b8">
                                                <i class="fas fa-chevron-down"></i></a></th>
                                        <th style="width: 15%">Pytanie:</th>
                                        <td style="width: 80%" th:name='question' th:id='question'
                                            th:text="${quiz.question}"></td>
                                    </tr>
                                </table>
                                <div class="collapse" th:id="'collapseAnswers' + ${quiz.id}">
                                    <div th:if="${quiz.hasCodeSnippet}">
                                            <pre><code class="language-java"  th:text="${quiz.codeSnippet}"
                                                       th:name='quizCodeSnippet' th:id='quizCodeSnippet'></code> </pre>
                                    </div>
                                    <table class="table table-bordered table-striped mb-0" >
                                        <tr>
                                            <th style="width: 5%"
                                                th:style="${quiz.answers.get(0).isCorrectAnswer ?
                                                    'background-color: #8dd17f': 'background-color: #e79f9d' }"></th>
                                            <th style="width: 15%">A:</th>
                                            <td style="width: 80%" th:name='answer_a' th:id="answer_a"
                                                th:text="${quiz.answers.get(0).answer}"></td>
                                        </tr>
                                        <tr>
                                            <th style="width: 5%"
                                                th:style="${quiz.answers.get(1).isCorrectAnswer ?
                                                    'background-color: #8dd17f': 'background-color: #e79f9d' }"></th>
                                            <th style="width: 15%">B:</th>
                                            <td style="width: 80%" th:name='answer_b'
                                                th:id="answer_b" th:text="${quiz.answers.get(1).answer}"></td>
                                        </tr>
                                        <tr>
                                            <th style="width: 5%"
                                                th:style="${quiz.answers.get(2).isCorrectAnswer ?
                                                    'background-color: #8dd17f': 'background-color: #e79f9d' }"></th>
                                            <th style="width: 15%">C:</th>
                                            <td style="width: 80%" th:name='answer_a' th:id="answer_a"
                                                th:text="${quiz.answers.get(2).answer}"></td>
                                        </tr>
                                        <tr>
                                            <th style="width: 5%"
                                                th:style="${quiz.answers.get(3).isCorrectAnswer ?
                                                    'background-color: #8dd17f': 'background-color: #e79f9d' }"></th>
                                            <th style="width: 15%">D:</th>
                                            <td style="width: 80%" th:name='answer_b'
                                                th:id="answer_b" th:text="${quiz.answers.get(3).answer}"></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
