<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{index}">


<th:block layout:fragment="content">
    <div class="table-wrapper-scroll-y my-custom-scrollbar-quiz" id='new_quiz_form'>

        <form action="#" th:action="@{/checkQuiz(id=${#request.getParameter('id')})}" th:object="${quizAnswersForm}" th:method="POST" style="height: 100%; width: 80%">
            <div>


                <table style="width: 100%">
                    <thead>
                    <tr>
                        <th style="width: 5%"> </th>
                        <th style="width: 75%;text-align: left">
                            <p th:id="question" th:text="${quizAnswersForm.quiz.question}"></p>
                        </th>
                        <th style="width: 10%"> </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${quizAnswersForm.quiz.hasCodeSnippet}">
                        <td></td>
                        <td>
                            <div >
                                <pre><code class="language-java"  th:text="${quizAnswersForm.quiz.codeSnippet}"
                                     th:name='quizCodeSnippet' th:id='quizCodeSnippet'></code> </pre>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <label th:for='answer_A'>A:</label>
                        </td>
                        <td>
                            <p th:class="form-control " th:name='answer_A' th:id='answer_A' th:text="${quizAnswersForm.quiz.answers[0].answer}">
                        </td>
                        <td>
                            <input type="checkbox" th:field="*{answerA}" id="is_answer_A_correct">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label th:for='answer_B'>B:</label>
                        </td>
                        <td>
                            <p th:class="form-control " th:name='answer_B' th:id='answer_B' th:text="${quizAnswersForm.quiz.answers[1].answer}">
                        </td>
                        <td>
                            <input type="checkbox" th:field="*{answerB}" id="is_answer_B_correct">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label th:for='answer_C'>C:</label>
                        </td>
                        <td>
                            <p th:class="form-control " th:name='answer_C' th:id='answer_C' th:text="${quizAnswersForm.quiz.answers[2].answer}">
                        </td>
                        <td>
                            <input type="checkbox" th:field="*{answerC}" id="is_answer_C_correct">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label th:for='answer_D'>D:</label>
                        </td>
                        <td>
                            <p th:class="form-control " th:name='answer_D' th:id='answer_D'  th:text="${quizAnswersForm.quiz.answers[3].answer}">
                        </td>
                        <td>
                            <input type="checkbox" th:field="*{answerD}" id="is_answer_D_correct">
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td></td>
                        <td>
                        <input id="send_task" type="submit" value="OK" class="btn btn-lg btn-info" style="width: 100%;margin-top: 20px">
                        </td>
                        <td></td>
                    </tr>
                    </tfoot>
                </table>

            </div>
        </form>
    </div>

</th:block>