<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{index}">


<th:block layout:fragment="content">
    <div class="show-quiz-container" id='new_quiz_form' th:with="res = ${results[0] && results[1] && results[2] && results[3]}">
        <p ></p>
        <div style="width: 100%;height: 100%" class="show-quiz-container">

            <table style="width: 100%; color: black">
                <thead>
                <tr>
                    <td></td>
                    <td th:text="${res ? 'Quiz zaliczony' : 'Masz błędy!'}" style="text-align: center"></td>
                </tr>
                <tr>
                    <th style="width: 10%"> </th>
                    <th style="width: 80%;text-align: left">
                        <p th:id="question" th:text="${quiz.question}"></p>
                    </th>
                    <th style="width: 5%"> </th>
                    <th style="width: 5%"> </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <label th:for='answer_A'>A:</label>
                    </td>
                    <td>
                        <p th:class="form-control " th:name='answer_A' th:id='answer_A' th:text="${quiz.answers[0].answer}"
                           th:style="${quiz.answers[0].isCorrectAnswer ? 'background-color: #8dd17f': 'background-color: #e79f9d' }">
                    </td>
                    <td>
                        <input class="form-check disabled" th:checked="${quizAnswersForm.answerA}" type="checkbox"  id="is_answer_A_correct">
                    </td>
                    <td>
                        <p th:text="${results[0] ? 'OK' : 'NOPE'}"
                           th:style="${results[0] ? 'background-color: #8dd17f': 'background-color: #e79f9d' }"></p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label th:for='answer_B'>B:</label>
                    </td>
                    <td>
                        <p th:class="form-control " th:name='answer_B' th:id='answer_B' th:text="${quiz.answers[1].answer}"
                           th:style="${quiz.answers[1].isCorrectAnswer ? 'background-color: #8dd17f': 'background-color: #e79f9d' }">
                    </td>
                    <td>
                        <input class="form-check disabled" th:checked="${quizAnswersForm.answerB}" type="checkbox"  id="is_answer_B_correct">
                    </td>
                    <td>
                        <p th:text="${results[1] ? 'OK' : 'NOPE'}"
                           th:style="${results[1] ? 'background-color: #8dd17f': 'background-color: #e79f9d' }"></p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label th:for='answer_C'>C:</label>
                    </td>
                    <td>
                        <p th:class="form-control " th:name='answer_C' th:id='answer_C' th:text="${quiz.answers[2].answer}"
                           th:style="${quiz.answers[2].isCorrectAnswer ? 'background-color: #8dd17f': 'background-color: #e79f9d' }">
                    </td>
                    <td>
                        <input class="form-check disabled" th:checked="${quizAnswersForm.answerC}" type="checkbox"  id="is_answer_C_correct">
                    </td>
                    <td>
                        <p th:text="${results[2] ? 'OK' : 'NOPE'}"
                           th:style="${results[2] ? 'background-color: #8dd17f': 'background-color: #e79f9d' }"></p>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label th:for='answer_D'>D:</label>
                    </td>
                    <td>
                        <p th:class="form-control " th:name='answer_D' th:id='answer_D'  th:text="${quiz.answers[3].answer}"
                           th:style="${quiz.answers[3].isCorrectAnswer ? 'background-color: #8dd17f': 'background-color: #e79f9d' }">
                    </td>
                    <td>
                        <input class="form-check disabled" th:checked="${quizAnswersForm.answerD}" type="checkbox"  id="is_answer_D_correct">
                    </td>
                    <td>
                        <p th:text="${results[3] ? 'OK' : 'NOPE'}"
                           th:style="${results[3] ? 'background-color: #8dd17f': 'background-color: #e79f9d' }"></p>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td></td>
                    <td>
                        <a type="button" class="btn btn-lg btn-info" style="width: 100%" th:href="@{/index}">OK</a>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</th:block>