<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">


<th:block layout:fragment="content">
    <div class="quizzes-container">

        <table class="table table-bordered table-striped mb-0" style="margin-bottom: 10px">
            <thead class="thead-light">
            <tr>
                <th style="width: 5%;">
                    <a role="button" data-toggle="collapse" href="#collapseAnswers"
                       aria-expanded="false" aria-controls="collapseAnswers" style="color: #17a2b8">
                        <i class="fas fa-chevron-down"></i></a></th>
                </th>
                <th style="width: 90%" class="question" th:text="${quiz.question}">
                </th>
                <th style="width: 5%">
                    <a th:href="@{/endQuiz(id=${quiz.id})}" class="btn btn-danger btn-block" style="float: right"
                       th:name="buttonEndQuiz"
                       th:id="buttonendQuiz" ><i class="fas fa-times"></i></a>
                </th>
            </tr>
            </thead>
            <tbody class="collapse" id="collapseAnswers">
            <tr th:if="${quiz.hasCodeSnippet}">
                <td></td>
                <td><div>
                        <pre><code class="language-java"  th:text="${quiz.codeSnippet}"
                                   th:name='quizCodeSnippet' th:id='quizCodeSnippet'></code> </pre>
                </div></td>
                <td></td>
            </tr>
            <tr>
                <td th:style="${quiz.answers[0].isCorrectAnswer ? 'background-color: #8dd17f': 'background-color: #e79f9d' }">
                    A:
                </td>
                <td class="answer" th:text="${quiz.answers[0].answer}" id="a"></td>
                <td></td>
            </tr>
            <tr>
                <td th:style="${quiz.answers[1].isCorrectAnswer ? 'background-color: #8dd17f': 'background-color: #e79f9d' }">
                    B:
                </td>
                <td class="answer" th:text="${quiz.answers[1].answer}"></td>
                <td></td>
            </tr>
            <tr>
                <td th:style="${quiz.answers[2].isCorrectAnswer ? 'background-color: #8dd17f': 'background-color: #e79f9d' }">
                    C:
                </td>
                <td class="answer" th:text="${quiz.answers[2].answer}"></td>
                <td></td>
            </tr>
            <tr>
                <td th:style="${quiz.answers[3].isCorrectAnswer ? 'background-color: #8dd17f': 'background-color: #e79f9d' }">
                    D:
                </td>
                <td class="answer" th:text="${quiz.answers[3].answer}"></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <!--        <div style="width: 100%;height: 100%;align-content: center">-->


        <div class="table-wrapper-scroll-y my-custom-scrollbar-quiz-results">
            <!--                <div th:class="tables">-->
            <table class="table table-bordered table-striped mb-0" style="width: 100%" th:id="studentsResults">
                <thead class="thead-light">
                <tr>
                    <th style="width: 30%">Student</th>
                    <th style="width: 10%">A</th>
                    <th style="width: 10%">B</th>
                    <th style="width: 10%">C</th>
                    <th style="width: 10%">D</th>
                    <th style="width: 30%">Result</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="quizResults : ${quizResultsAllStudents}">
                    <td th:text="${quizResults.username}"></td>
                    <td th:unless="${quizResults.answerA == null}"
                        th:style="${quizResults.answerA ? 'background-color: #8dd17f': 'background-color: #e79f9d' }"></td>
                    <td th:unless="${quizResults.answerA == null}"
                        th:style="${quizResults.answerB ? 'background-color: #8dd17f': 'background-color: #e79f9d' }"></td>
                    <td th:unless="${quizResults.answerA == null}"
                        th:style="${quizResults.answerC ? 'background-color: #8dd17f': 'background-color: #e79f9d' }"></td>
                    <td th:unless="${quizResults.answerA == null}"
                        th:style="${quizResults.answerD ? 'background-color: #8dd17f': 'background-color: #e79f9d' }"></td>
                    <td th:unless="${quizResults.answerA == null}" th:text="${quizResults.result}?'OK':'NOPE'"></td>
                    <td th:if="${quizResults.answerA == null}" th:style="'background-color: #e2e2e2'"></td>
                    <td th:if="${quizResults.answerA == null}" th:style="'background-color: #e2e2e2'"></td>
                    <td th:if="${quizResults.answerA == null}" th:style="'background-color: #e2e2e2'"></td>
                    <td th:if="${quizResults.answerA == null}" th:style="'background-color: #e2e2e2'"></td>
                    <td th:if="${quizResults.answerA == null}" th:style="'background-color: #e2e2e2'"></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td></td><td></td><td></td><td></td><td></td>
                    <td>Wynink: </td>
                </tr>
                </tfoot>
            </table>

        </div>

    </div>

</th:block>