<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Forbidden</title>
</head>
<body>
<div class="row" style="background-color: darkred; color: white">
    <div th:text="'Nope! You are not authorized to do this!'"></div>
</div>
</body>
</html>