<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>
<!--    <meta name="ctx" th:msg="'/home-t'"/>-->

    <link href="http://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/prism.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles3.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/messenger.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/showTest.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/icons.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/quiz.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/leftpane.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/rightpane.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/midpane.css}"/>
    <script src="https://kit.fontawesome.com/714c995d82.js" crossorigin="anonymous"></script>

<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->

    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>

</head>

<body>
<div class="container-fluid">
<div id="contextpath" th:text="${#httpServletRequest.getContextPath()}"></div>
    <div class="container-fluid">

        <div class="toppane">
            <div th:replace="fragments/header_index :: header(${loggedInUser})">...</div>
        </div>

        <div class="leftpane">
            <div th:replace="fragments_index/leftpane:: leftpane(${allLogins.groupName},${allLogins.teachers},
            ${allLogins.students},${loggedInUser},${allLogins.usertest},${href},${listOfGrupa})"></div>
        </div>

        <div class="middlepane">
<!--            <div th:replace="fragments_index/alert:: fr_allert"></div>-->

<!--            <section layout:fragment="content"></section>-->
<!--            <div th:replace="fragments_index/messengerWindow:: msg_window(${wyswtekst},${komunikator})"></div>-->


            <div class="accordion" id="accordionExample">
                <div class="card border-0">
                    <div class="card-header button-card" id="headingOne">
                        <h2 class="mb-0">
                            <button class="accordion-button btn-lg btn-block" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <i class="fas fa-code"></i>
                            </button>
                        </h2>
                    </div>
                    <div th:class="${#request}"></div>

<!--                    <div id="collapseOne" th:class="${(#request.getParameterMap().isEmpty()? 'collapse': 'collapse show')}" aria-labelledby="headingOne" data-parent="#accordionExample">-->
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body mid-card-container">

                            <section layout:fragment="content"></section>
                        </div>
                    </div>
                </div>
                <div class="card border-0">
                    <div class="card-header button-card" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="accordion-button btn-lg btn-block" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <i class="fas fa-comment-alt"></i>
                            </button>
                        </h2>
                    </div>
<!--                    <div id="collapseTwo" th:class="${#request.getParameterMap().isEmpty()? 'collapse show': 'collapse'}" aria-labelledby="headingTwo" data-parent="#accordionExample" style="bottom: 20px">-->
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample" style="bottom: 20px">
                        <div class="card-body mid-card-container">
                                <div th:replace="fragments_index/messengerWindow:: msg_window(${wyswtekst},${komunikator})"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="rightpane">
            <div th:replace="fragments_index/rightpane:: rightpane(${loggedInUser},${nowaGrupa},${wybierz_zadanie},
            ${listOfGrupa},${listOfCategory},${chosenCategoryIdQuizzes},${newLessonContent},${href})"></div>
        </div>
    </div>

</div>


<script src="webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="webjars/sockjs-client/1.1.1/sockjs.min.js"></script>
<script src="webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
<script src="js/app.js"></script>
<script src='js/index2.js'></script>
<script src="js/showListOfTask.js"></script>
<script src="js/prism.js"></script>
<script src="js/prism-live.js?load=css,html,javascript,java"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<section layout:fragment="script"></section>

</body>
</html>