<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Menu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/menuStyle.css}"/>

</head>
<body>
<main>

    <div class="container-fluid">
        <div class="toppane">
            <div th:replace="fragments/header_index :: header(${loggedInUser})">...</div>
        </div>

        <div class="middlepane">
            <h4 id="teaser">
                Assignment umożliwia szereg funkcjonalności. Zarejestruj się i wypróbuj na zajęciach !
            </h4>
            <div id="firstBox" class="shadowBox">
            <div class="container-fluid">
                        <div class="row no-gutters">
                            <div class=" col-6" id="opis">

                                <br>
                                <br>
                                <h4>Assignment to platforma, która ułatwi Ci prowadzenie zajęć. </h4>
                                <br>
                                <h6>Na stronie głównej znajdziesz okno z listą aktywnych użytkowników swojej
                                    grupy. </h6>
                                <h6>Wymienisz informacje na czacie ze swoimi znajomymi.</h6>
                                <h6>Zapoznasz się z dostępnymi zadaniami i quizami, wystarczy wybrać kategorię.</h6>
                            </div>
                            <div class="col 6" id="cell1">
                                <div id="indexIMG"></div>
                            </div>
                        </div>
                    </div>
            </div>

            <div id="secondBox" class="shadowBox">
                <div class="container-fluid">
                    <div class="row no-gutters">
                        <div class="col 6" id="cell2">
                            <div id="indexIMG2"></div>
                        </div>
                        <div class="col-6" id="opis2">
                            <br>
                            <br>
                            <h4> Sprawdź zadanie kiedy chcesz. </h4>
                            <br>
                            <h6>Teraz zadania możesz swobodnie dodawać, edytować, sprawdzić lub usunąć.</h6>
                            <h6>Dodatkowo nauczyciel może upubliczniać zadania i śledzić postępy studentów.</h6>
                            <h6>Domyślnie wskazówki i rozwiązania zadania są zakryte, jednak nauczyciel może je
                                odkryć. </h6>
                        </div>
                    </div>
                </div>
            </div>

            <div id="thirdBox" class="shadowBox">
                <div class="container-fluid">
                    <div class="row no-gutters">
                        <div class=" col-6" id="opis3">

                            <br>
                            <br>
                            <h4> Podejmij wyzwanie i zacznij quiz! </h4>
                            <br>
                            <h6> </h6>
                            <h6>Poznaj szybszą i bardziej przystępną formę sprawdzania wiedzy.</h6>
                            <h6>Bez problemu dodawaj, modyfikuj, usuwaj i udostępniaj quiz.</h6>
                        </div>
                        <div class="col 6" id="cell3">
                            <div id="indexIMG3"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</main>
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
