<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{index}">


<th:block layout:fragment="content">
    <div class="quizzes-container" id='lessonsContainer' style="display:block;">

        <div class="container my-10">
            <div class="row">
                <div class="col-md">
                    <table class="quiz-options-row">
                        <tr>
                            <td style="float: left">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-secondary">
                                        <input type="radio" name="options" id="option1" onchange="showQuizzesAndTasks()">
                                        Zadania i Quizy
                                    </label>
                                    <label class="btn btn-secondary active">
                                        <input type="radio" name="options" id="option2" checked onchange="showLessonMaterials()">
                                        Moje Lekcje
                                    </label>
                                </div>
                            </td>
                            <td class="quiz-options-row-element">
                                <form class="form-inline" action="#" th:action="@{/prepareLessonMaterials}"
                                      th:object="${newLessonPack}"
                                      method="post">
                                    <input type="text" placeholder="Nazwa nowej lekcji" class="form-control" style="width: 80%" th:field="*{name}">
                                    <button type="submit" class="btn btn-info" id="add_lesson" autofocus style="width: fit-content"><i
                                            class="fas fa-plus"></i></button>
                                    <p th:if="${#fields.hasErrors()}" th:text="${#fields.errors('name')[0]}"></p>
                                </form>
                            </td>
                        </tr>
                    </table>
                    <div class="table-wrapper-scroll-y my-custom-scrollbar-quiz">
                        <div th:class="tables">
                            <div th:each="lessonMaterials:${allLessonMaterials}" style="margin-bottom: 20px" >

                                <!--delete dialog-->
                                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Delete this Lesson Pack?</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <a th:href="@{/deleteLessonMaterials(id=${lessonMaterials.id})}" class="btn btn-danger"
                                                   th:name="DeleteLessonMaterials" th:id="DeleteLessonMaterials"
                                                   data-toggle="tooltip" title="Delete">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--delete dialog-->

                                <table th:id="tasksJS" class="table table-bordered table-striped mb-0">
                                    <thead class="thead-light">
                                    <tr>
                                        <th style="width: 5%">#</th>
                                        <th style="width: 20%">Nazwa</th>
                                        <th style="width: 55%">Kategorie</th>
                                        <th style="width: 20%">
                                            <a th:href="@{/editLessonMaterials(id=${lessonMaterials.id})}" class="btn btn-info"
                                               th:name="ButtonChosenQuizToEdit" th:id="ButtonChosenQuizToEdit"
                                               data-toggle="tooltip" title="Wybierz lekcję"><i class="fas fa-book-open"></i></a>

                                            <button th:if="${loggedInUser.activeLessonMaterials == null}"
                                                    type="button" data-toggle="modal" data-target="#deleteModal"
                                                    class="btn btn-danger delete-icon"
                                                    th:name="DeleteLessonMaterials" th:id="DeleteLessonMaterials"
                                                    title="Delete"><i class="fas fa-times"></i></button>
                                            <button th:if="${loggedInUser.activeLessonMaterials != null} "
                                                    type="button" data-toggle="modal" data-target="#deleteModal"
                                                    class="btn btn-danger delete-icon"
                                                    th:style="(${loggedInUser.activeLessonMaterials.id} == ${lessonMaterials.id}) ?
                                                    'visibility: hidden':'visibility: visible'"
                                                    th:name="DeleteLessonMaterials" th:id="DeleteLessonMaterials"
                                                    title="Delete"><i class="fas fa-times"></i></button>
                                        </th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <a role="button" data-toggle="collapse" th:href="'#collapseContent' + ${lessonMaterials.id}"
                                               aria-expanded="false" aria-controls="collapseContent" style="color: #17a2b8">
                                                <i class="fas fa-chevron-down"></i></a>
                                        </td>
                                        <td th:name="lessonContentName" th:id="lessonContentName"
                                            th:text="${lessonMaterials.name}"></td>
                                        <td th:name='lessonContentCategories' th:id="lessonContentCategories">
                                            <a th:each="category:${lessonMaterials.categoryNames}" class="badge badge-info category-badge" th:text="${category}"></a>
                                        </td>
                                        <td th:name="lessonContentName" th:id="lessonContentName"
                                            th:text="'Zadania: ' + ${lessonMaterials.tasks.size()} + ',Quizy: ' + ${lessonMaterials.quizzes.size()}"></td>

                                    </tr>
                                    </tbody>
                                </table>
<!--                                <table th:id="quiz_table" class="table table-bordered table-striped mb-0">-->
<!--                                    <tr>-->
<!--                                        <th style="width: 5%" >-->
<!--                                            <a role="button" data-toggle="collapse" th:href="'#collapseContent' + ${activeLessonMaterials.id}"-->
<!--                                               aria-expanded="false" aria-controls="collapseAnswers" style="color: #17a2b8">-->
<!--                                                <i class="fas fa-chevron-down"></i></a></th>-->
<!--                                        <th style="width: 15%">Pytanie:</th>-->
<!--                                        <td style="width: 80%" th:name='question' th:id='question'-->
<!--                                            th:text="${quiz.question}"></td>-->
<!--                                    </tr>-->
<!--                                </table>-->
                                <div class="collapse" th:id="'collapseContent' + ${lessonMaterials.id}">
                                    <div th:if="${!lessonMaterials.tasks.isEmpty()}">
                                        <p  class="list-header-title" th:text="'ZADANIA'"></p>
                                        <table class="table table-bordered table-striped mb-0" style="margin-top: 0px" >
                                            <thead>
                                            <tr>
                                                <th style="width: 5%">#</th>
                                                <th style="width: 20%">Kategoria</th>
                                                <th style="width: 75%; text-align: left">Treść</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="task:${lessonMaterials.tasks}">
                                                <td th:text="${task.getIdPracyDomowej()}"></td>
                                                <td th:text="${task.getKategoria()}"></td>
                                                <td th:text="${task.getTresc_zadania()}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div th:if="${!lessonMaterials.quizzes.isEmpty()}">
                                        <p  class="list-header-title" th:text="'QUIZY'"></p>
                                        <table class="table table-bordered table-striped mb-0" style="margin-top: 0px" >
                                            <thead>
                                            <tr>
                                                <th style="width: 5%">#</th>
                                                <th style="width: 20%">Kategoria</th>
                                                <th style="width: 75%; text-align: left">Pytanie</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="quiz:${lessonMaterials.quizzes}">
                                                <td th:text="${quiz.getId()}"></td>
                                                <td th:text="${quiz.getCategory().getKategoria()}"></td>
                                                <td th:text="${quiz.getQuestion()}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
